.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.content-view {
    margin-top: 20px;
}

pre {
    background-color: lightgray;
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
