{% extends "base_generic.html" %}

{% load markdown_extras %}

{% block content %}
<table class="table">
  <tr>
    <th scope="row">Title</th>
    <td>{{ chall.name }}</td>
  </tr>
  <tr>
    <th scope="row">Priority</th>
    <td>{{ chall.priority }}</td>
  </tr>
  <tr>
    <th scope="row">Validator</th>
    <td>{{ chall.validator }}</td>
  </tr>
  <tr>
    <th scope="row">Minimal API Version</th>
    <td>{{ chall.minimal_version }}</td>
  </tr>
</table>

<br/ >

<h1>Attempt validation</h1>
<p>Welcome team {{ team.name }}!</p>
<p>Your API is being checked to validate if it meets the requirements for this challenge</p>
<br/ >

<h3>Checks</h3>
<hr />
<div>
  {% for detail in attempt.details %}
  <h5>{{ detail.title }}
    {% if detail.correct %}
    <span class="badge bg-success">Corret</span>
    {% else %}
    <span class="badge bg-warning">Failed</span>
    {% endif %}
  </h5>
  <big>Expected</big>
  <pre>{{ detail.expected }}</pre>
  <big>Got</big>
  <pre>{{ detail.got }}</pre>
  {% endfor %}
</div>
<br/ >

<h3>Conclusion</h3>
<hr />
{% if attempt.correct %}
<div class="alert alert-success" role="alert">Congratulations!</div>
{% else %}
<div class="alert alert-danger" role="alert">Unfortunately, your response is not valid!</div>
{% endif %}
{% endblock %}
