{% extends "base_generic.html" %}

{% load markdown_extras %}

{% block content %}
<h1>Challenge details</h1>

<br/ >

<table class="table">
  <tr>
    <th scope="row">Title</th>
    <td>{{ challenge.name }}</td>
  </tr>
  <tr>
    <th scope="row">Priority</th>
    <td>{{ challenge.priority }}</td>
  </tr>
  <tr>
    <th scope="row">Validator</th>
    <td>{{ challenge.validator }}</td>
  </tr>
  <tr>
    <th scope="row">Minimal API Version</th>
    <td>{{ challenge.minimal_version }}</td>
  </tr>
</table>

<br/ >

<h3>Description</h3>
<hr />
<div>{{ challenge.description|markdown|safe }}</div>
{% endblock %}
