{% extends "base_generic.html" %}

{% block content %}
<h1>Team number {{ team.id }}</h1>

<p><strong>Team name:</strong> {{ team.name }}</p>
<p><strong>Members:</strong> {{ team.get_members|join:", " }}</p>

<h3>Work</h3>

{% with next_chall=team.get_next_chall %}
{% if next_chall %}
<a href="{% url 'chall-start' chall_id=team.get_next_chall team_id=team.id %}">Let's go!</a>
{% else %}
<h5>All challenges completed, congratulations!</h5>
{% endif %}
{% endwith %}
<br />
<br />

<h3>Challenges</h3>

{% if challs %}
<table class="table">
  <thead>
    <th>Name</th>
    <th>Status</th>
    <th>Started At</th>
    <th>Completed At</th>
  </thead>
  {% for chall, instance in challs.items %}
  <tr>
    <td><a href="{{ chall.get_absolute_url }}">{{ chall.name }}</a></td>
    <td class={% if instance %}{% if instance.status == 's' %}"table-primary"{% else %}"table-success"{% endif %}{% else %}"table-secondary"{% endif %}>
      {% if instance %}
      {{ instance.get_status_display }}
      {% else %}
      Not started yet
      {% endif %}
    </td>
    <td>{{ instance.started_at }}</td>
    <td>{{ instance.done_at }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
  <p>There are no challenges, sadly.</p>
{% endif %}

{% endblock %}
